:root{
    --Blue-950: hsl(254, 25%, 20%);
    --Blue-500: hsl(216, 30%, 68%);
    --Gray-950: hsl(270, 9%, 17%);
    --Gray-700: hsl(273, 4%, 51%);
    --Gray-50: hsl(0, 0%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0em 4em;
    background-color: var(--Gray-50);
    height:60px;
}

.openmenu{
    display: none;
}

.Sidebar-menu{
    display: none;
}

nav{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 25px;
}

nav a{
    text-decoration: none;
    color: var(--Gray-700);
    text-transform:uppercase;
    font-size:14px;
}

nav a:hover{
    color:var(--Blue-950);
    transition: all 1s ease-out;
}

nav button{
    padding:10px;
    text-transform:uppercase;
    font-size:14px;
    background-color: var(--Gray-50);
}

nav button:hover{
    color:white;
    background-color:var(--Blue-950);
    transition: all 1s ease-out;
    cursor: pointer;
}

.Introduction{
    display: flex;
    position: relative;
    background-color: var(--Blue-950);
    padding:3em 4em;
    line-height: 1.8;
}

.bg-image img{
    width:25%;
    max-width:190px;
    position: absolute;
    right: 0;
    top: 0;
}

h1{
    font-weight:400;
     font-family: "DM Serif Display", serif;
     color: white;
}


.Humanizing {
    width:40%;
    max-width:400px;
}

.Humanizing hr{
    width:35%;
    border: 1px solid var(--Gray-700);
}

.Humanizing p{
    color: var(--Gray-700);
    font-size:16px;
}

.Humanizing button{
    background-color:var(--Blue-950);
    padding:10px;
    text-transform: uppercase;
    border:1px solid white;
    margin-top:15px;
    font-size:10px;
    color: white;
}

.Humanizing button:hover{
    background-color:white;
    color:var(--Blue-950);
    cursor: pointer;
    transition: all 1s ease-out;
}

.image-intro-desktop{
    display:block;
    position: absolute;
    width:250px;
    height: 300px;
    right:100px;
    top:90px;
}

.image-intro-mobile{
    display: none;
}

.best img{
    display:none;
}

.middle{
    position: relative;
    margin-top:5em;
    padding:4em;
}

.left img{
    left: 0;
    position:absolute;
    height:55%;
    width:100px;
    translate: 0 -220px;

}

.middle hr{
    border:1px solid #f5eff6;
    width:15%;
}

.heading{
    color:var(--Blue-950);
    margin:20px 0px;
    letter-spacing:1px;
}

.different{
    display: flex;
    padding:1em 0em;
    gap:30px;
    line-height:1.2;
}

.different img{
    width:40px;
    margin:15px 0px;
}

h3{
    margin-bottom:8px;
    color:var(--Blue-950);
}

.different p{
    color:var(--Gray-700);
    font-size:16px;
}

.work{
    background-color:var(--Blue-950);
    background-image:url('https://res.cloudinary.com/dwjdlzovj/image/upload/v1765386507/bg-pattern-how-we-work-desktop_difwxe.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
    padding:0em 4em;
    display: flex;
    justify-content:space-between;
    gap:30px;
    align-items: center;
    height:150px;
    margin:auto;
    width:93%;
}

.work h1{
    width:350px;
}

.work button{
    background-color:transparent;
    padding:10px;
    text-transform: uppercase;
    font-size: 10px;
    border:1px solid white;
    color: white;
}

.work button:hover{
    background-color:white;
    color:var(--Blue-950);
    cursor: pointer;
    transition: all 1s ease-out;
}

footer{
    background-image:url('https://res.cloudinary.com/dwjdlzovj/image/upload/v1765386507/bg-pattern-footer-desktop_mlue52.svg');
    background-repeat: no-repeat;
    margin-top:5rem;
    background-color:var(--Gray-50);
}

.socials{
    display: flex;
    justify-content: space-between;
    padding:1.5em 4em;
}

.icons{
    display: flex;
    gap:10px;
}

.icons img:hover{
    cursor: pointer;
    filter: invert(1) invert(14%) sepia(18%) saturate(2000%) hue-rotate(220deg) brightness(9%) contrast(92%);
}

footer hr{
    margin: auto;
    width:93%;
    border:1px solid #f5eff6;
}

.footer{
    display: flex;
    padding:1.5em 1.5em 2em 0em;
    justify-content: space-evenly;
}

.cat{
    color:var(--Gray-700);
    text-transform: uppercase;
    font-weight:400;
    margin-bottom:25px
}

.links{
    text-transform: uppercase;
    color:var(--Blue-950);
    font-weight:700;
    margin-bottom:15px;
}

.links:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: all .7s ease-out;
}

@media (max-width:600px) {
    nav a{
        display:none;
    }

    nav button{
        display: none;
    }

    .openmenu{
        display: block;
        padding:0 0 0 5em;
        cursor: pointer;
    }

    .Sidebar-menu{
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color:var(--Gray-950);
        z-index: 500;
        transition: right 0.4s ease;
        background-image:url('https://res.cloudinary.com/dwjdlzovj/image/upload/v1765386509/bg-pattern-mobile-nav_ghsmr0.svg');
        background-repeat: no-repeat;
        background-size:contain;
        background-position:bottom left;

    }

    .Sidebar-menu.active{
        right: 0;
    }

    .sidebar-header{
        height:60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1em 4.6em;
        background-color:var(--Gray-50);
    }

    .sidebar-header img{
        cursor: pointer;
    }

    .sidebar-nav{
        display: flex;
        flex-direction: column;
        padding: 5em 0;
        text-align: center;
        gap: 30px;
}

    .sidebar-nav a{
      display:block;
      color: white;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.5px;
      padding: 10px;
    }

    .sidebar-nav button{
          display:block;
          background: transparent;
          color: white;
          border: 2px solid white;
          padding: 12px 60px;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1.5px;
    }

    .sidebar-nav button:hover {
    background-color: white;
    color: var(--Blue-950);
    transition: all 0.5s ease;
}


    .image-intro-mobile{
        width:100%;
        height:100%;
        max-height:600px;
        display: block;
    }

    .image-intro-desktop{
        display: none;
    }

    .Introduction{
        background-image: url('https://res.cloudinary.com/dwjdlzovj/image/upload/v1765386508/bg-pattern-intro-left-mobile_wvg0pm.svg');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: auto;
    }

    .bg-image img{
        display: none;
    }

    .Humanizing{
       text-align: center;
       margin:0 auto;
       width:100%;
    }

    .Humanizing hr{
        display: none;
    }

    .Humanizing p{
        font-weight: 700;
        color: white;
    }

    .best img{
        display: block;
        position: absolute;
        right: 0;
        translate: 0 -100px;
    }


    .middle{
       text-align: center;
    }

    .left img{
        display: none;
    }

    .middle hr{
        margin: auto;
        width:30%;
    }

    .different{
        flex-direction: column;
    }

    .work{
        text-align: center;
        flex-direction: column;
        padding:2em 4em;
        height:100%;
        background-image: url('https://res.cloudinary.com/dwjdlzovj/image/upload/v1765386507/bg-pattern-how-we-work-mobile_sfha1z.svg');
    }

    footer{
        background-image: url('https://res.cloudinary.com/dwjdlzovj/image/upload/v1765386507/bg-pattern-footer-mobile_aylems.svg');
    }

    .socials{
        flex-direction: column;
        align-items: center;
        line-height:4;
    }

    footer hr{
        width:50%;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }

    .cat{
        margin-top:20px;
    }

    .links{
        margin-bottom:10px;
    }
}